.description__divider {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  padding: 0.6rem 1.6rem;
  border: 3px solid currentColor;
  border-radius: 1rem;
}

.description__text {
  grid-row: 1/-1;
  grid-column: 1/-1;
  font-size: 1.3rem;
}